{% extends "base.html" %}

{% block title %}
<title> Blog </title>
{% endblock %}

{% block body %}
<h1>Add the article</h1>
<div class="container mt-5">
<form action="" method="post" >
    <input type="text" name="title" id="title" class="form-control" placeholder="Enter article title" align="center"><br>
    <textarea name="intro" id="intro" class="form-control" placeholder="Enter a brief description of the article" align="center"></textarea><br>
    <textarea name="text" id="text" class="form-control" placeholder="Enter the full text of the article" ></textarea><br>
    <input type="submit"  class="btn btn-success" value="Add">
</form>
</div>
{% endblock %}