{% extends "base.html" %}

{% block title %}
<title> Blog </title>
{% endblock %}

{% block body %}
<h1>Login Page</h1>
<div class="container mt-5">
<form action="" method="post" >
    <input type="text" name="username" id="username" class="form-control" placeholder="Enter USERNAME" align="center"><br>
    <input type="text" name="password" id="password" class="form-control" placeholder="Enter PASSWORD" align="center"><br>
    <input type="submit"  class="btn btn-success" value="Login">
</form>
</div>
{% endblock %}