{% extends "base.html" %}

{% block title %}
<title> Blog </title>
{% endblock %}

{% block body %}
<h1>Update the article</h1>
<div class="container mt-5">
<form action="" method="post" >
    <input type="text" name="title" id="title" class="form-control" value="{{art.title}}"><br>
    <textarea name="intro" id="intro" class="form-control">{{art.intro}}</textarea><br>
    <textarea name="text" id="text" class="form-control">{{art.text}}</textarea><br>
    <input type="submit"  class="btn btn-success" value="Update">
</form>
</div>
{% endblock %}